<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alice.mhp.alicecleaningmanagement">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCkxB-cU2eaCoAt-Y33wK-HdfzvMhNJNBU" />

        <!-- <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> -->

        <activity
            android:name=".common.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.LoginActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".task.TaskListActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".staff.StaffListActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".customer.CustomerListActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".common.SettingActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".common.SignUpActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".task.TaskNewActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".task.TaskDetailActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".staff.StaffDetailActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".customer.CustomerDetailActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".common.GetStaffActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".common.GetCustomerActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".task.TaskModifyActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".customer.CustomerNewActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".customer.CustomerModifyActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".staff.StaffNewActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".staff.StaffModifyActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".common.MainActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".task.TaskMapActivity"
            android:configChanges="keyboardHidden|orientation" />
    </application>

</manifest>